<header>
  <h2>INSCRIPTION</h2>
</header>
<form [formGroup]="form">

  <div class="form-group row">
    <label class="col-2 col-form-label">Email:</label>
    <div class="col-10">
      <input type="text" class="form-control" name="email" placeholder="Entrez votre email"
             [formControl]="email"
             [ngClass]="{'is-invalid': form.get('email').touched && (form.get('email').hasError('required')
             || form.get('email').hasError('validEmail'))}"/>

      <p class="invalid-feedback" *ngIf="form.get('email').hasError('required')">
        L'email est obligatoire
      </p>
      <p class="invalid-feedback" *ngIf="form.get('email').hasError('validEmail')">
        Le format de l'adresse email n'est pas conforme, exemple 'toto@yahoo.fr'.
      </p>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password:</label>
    <div class="col-10">
      <input type="password" class="form-control" name="password" placeholder="Entrez votre mot de passe"
             [formControl]="password"
             [ngClass]="{'is-invalid': form.get('password').touched && (form.get('password').hasError('required')||
             form.get('password').hasError('minlength'))}"/>

      <p class="invalid-feedback" *ngIf="form.get('password').hasError('required')">
      le mot de passe est obligatoire
      </p>

      <p class="invalid-feedback" *ngIf="form.get('password').hasError('minlength')">
        le mot de passe doit contenir au moins 8 caractères.
      </p>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Confirm Password:</label>
    <div class="col-10">
      <input type="password" class="form-control" name="password" placeholder="Confirmez votre mot de passe"
             [formControl]="confirm"/>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Gender:</label>
    <div class="col-10">
      <select type="text" class="form-control" name="gender" placeholder="Entrez votre genre"
             [formControl]="gender">
        <option *ngFor="let g of genderList" [value]="g">{{g}}</option>
      </select>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-10 offset-2">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="term"
               [formControl]="term" id="term"/>
        <label class="form-check-label" for="term">Confirm that you've read Terms & conditions</label>
      </div>
    </div>
  </div>



  <div class="form-group row">
    <div class="col-10">
      <input type="submit"  name="send" value="Ajouter" class="btn btn-outline-primary"
      [disabled]="form.invalid"/>
    </div>
  </div>

</form>
