<h2>{{title}}</h2>

<ul>
  <li>Présentation
  <ul>
    <li>La syntaxe standard Angular (MVVM ou MWM)</li>
    <li>One way data Binding (Component <=> Template)</li>
    <li>Two way data Binding</li>
    <li>Les variable de templates</li>
    <li>Les ngModels</li>
    <li>Exercices 1</li>
  </ul>

  </li>
  <li>Navigation (Partie1)</li>
  <li>Template (Vue) </li>
  <ul>
    <li>Pipes (filtes)</li>
    <li>Locales (langues)</li>
    <li>Directives</li>
  </ul>
  <li>Pipes et Directives Personnalisées</li>
  <li>Formulaires
  <ul>
    <li>Template et driven forms (ngModels)</li>
    <li>Formulaire réactif</li>
    <li>Validateurs</li>
    <li>Validateurs Personnalisés</li>
  </ul>
  </li>
  <li>Naviguation (Partie 2)</li>
  <li>Service</li>
  <li>Promise & Observer</li>
  <li>Http (xhr)</li>
  <li>XSS</li>
  <li>@Input & @Output</li>
  <li>Tests</li>
</ul>
