<header>
  <h2>Promise &amp; Observable</h2>
</header>
<section class="row">
  <div class="col">
    <h3>Promise</h3>
    <div class="mt-3">
      <button class="btn btn-outline-primary" (click)="getAsyncNumbers()">
        Synchroniser
      </button>
      {{ wait }}
    </div>
    <p class="alert alert-warning" *ngIf="message">
      {{message}}
    </p>
    <ul class="list-unstyled">
      <li *ngFor="let number of numbers">
        {{number}}
      </li>
    </ul>
  </div>
  <div class="col">
    <h3>Observable</h3>

  <div class="mt-3">
    <button class="btn btn-outline-primary" (click)="getMultiNumbers()">
      Synchroniser
    </button>
  </div>
  <ul class="list-unstyled">
    <li *ngFor="let number of obsNumbers">
      {{number}}
    </li>
  </ul>
  </div>
</section>

<hr />

<div class="row">
  <h3>Exercice Barre de chargement</h3>
  <div class="col-1">
    <button class="btn btn-outline-success btn-sm" (click)="download()" [disabled]="disabled">
      Charger
    </button>
  </div>
  <div class="col">
    {{progressString}}
  </div>
</div>
  <div class="mt-3">
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="progressString">
        {{progressString}}
      </div>
    </div>
</div>

